.container
{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.right
{
    float: right;
    max-width: 500px;
    
}

.info
{
    
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}

.btn-grp
{
    text-align: center;
    
}

.gridCont
{
    float: left;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(50, 20px);
    
    
    
  
}


.btn-container
{
 display: inline-block;
 padding: 10px;
 
}

.btn
{
   
   padding: 10px;
   color: white;
   border: none;
   font-size: 30px;
}